
<br>
<div class="w3-container " ng-controller="status">
    <div class="w3-card-4 w3-pale-green ">
        <div class=" w3-padding-16" style="background-color: 	#F08080">
            <h1 style="color:#191970;margin-left: 50px;font-size:25px">Instruction</h1>
        </div>

        <hr>
        <div class="w3-panel   w3-leftbar w3-border-amber">

            <h4><span style="font-size:30px;color:blue;size:50px;">&#10147;</span>&nbsp &nbsp You can search Your grievance on below search box..</h4>


            <h4><span style="font-size:30px;color:blue;size:50px;">&#10147;</span>&nbsp &nbspYou can see your response by clicking on Grievance ID No..</h4>


            <h4><span style="font-size:30px;color:blue;size:50px;">&#10147;</span>&nbsp &nbsp click on confirm button for getting satisfactory response..</h4>

            <h4><span style="font-size:30px;color:blue;size:50px;">&#10147;</span>&nbsp &nbsp The GRC shall follow the principles of natural justice while deciding the grievances of the students</h4>

            <h4><span style="font-size:30px;color:blue;size:50px;">&#10147;</span>&nbsp &nbsp The GRC shall make efforts to resolve the grievance within the stipulated period and shall submit it's report to the admin within a period of 17 days from the date of receipt of complaint to the GRC</h4>

            <h4><span style="font-size:30px;color:blue;size:50px;">&#10147;</span>&nbsp &nbsp The GRC shall provide a copy of the report to the aggrieved student(s)</h4>

            <h4><span style="font-size:30px;color:blue;size:50px;">&#10147;</span>&nbsp &nbsp The Vice chancellor may take necessary and appropriate actions against any cell member for non compilace</h4>

        </div>

    </div>
</div>

