
<br>
<div style="width:100%;">
    <div class="w3-card-4 w3-margin "
         style="background-color:#ffe6ff;border:10px solid teal;border-radius: 2%;">
        <header class="w3-center w3-amber">
            <h2>ContactUs</h2>
        </header>
        <div class="w3-display-container w3-text-white">
            <img src="../image/college.jpg" style="width:100%"/>
        </div>
        <div class="w3-container">
            <h2 class="w3-center w3-text-red"><strong>Address</strong></h2>
            <div style="text-align: justify">
                <p style="font-weight: bolder;font-size:20px;color:darkred;">Dr. Babasaheb Ambedkar Technological University
                    Lonere, Dist. Raigad - 402 103, Maharashtra.</p>
                        <span style="color:purple;font-weight:bold;font-size:20px;">Telephone No&nbsp:</span>02140 - 275081, 275212
                <br>
                        <span style="color:purple;font-weight:bold;font-size:20px;">Fax &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp :</span>02140 - 275081, 275212
                <br>
                        <span style="color:purple;font-weight:bold;font-size:20px;">E-mail &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp:</span> registrar@dbatu.ac.in, webadmin@dbatu.ac.in, vc@dbatu.ac.in

            </div>
        </div>
    </div>
</div>
