
<br>
<div class="w3-container " ng-controller="status">
    <div class="w3-card-4 ">
        <div class=" w3-padding-16" style="background-color: 	#F08080">
            <h1 style="color:blueviolet;margin-left: 50px;font-size:25px">Instruction</h1>
        </div>

        <hr>
        <div class="w3-panel   w3-leftbar w3-border-amber">

            <h4><span style="text-align:justify;font-size:18px;color:blue;size:50px;">&#10147;</span>
                 All the complaints relating to a perticular department shall first be addressed to head of
                that departments whose composition &nbsp &nbsp shall be as follows:
                <ul class="w3-ul w3-text-red" style="list-style-type: none;font-size:18px;">
                    <li>HOD </li>
                    <li>Librarian</li>
                    <li>Controller of examination</li>
                    <li>placement officier</li>
                    <li>Accountant</li>
                    <li>Student section</li>
                </ul>
            </h4>


            <h4><span style="text-align:justify;font-size:18px;color:blue;size:50px;">&#10147;</span>
                &nbsp &nbsp The above committee shall be approved by the statutory body of institution

            <h4><span style="font-size:18px;color:blue;size:50px;">&#10147;</span>
                &nbsp &nbsp The complaints not related to departments and the grievances not resolved at the department level shall be reffered to the institutional level, whose composition shall be as follows: </h4>
              <ul class="w3-ul w3-text-red" style="list-style-type: none;font-size:18px;">
                   <li>Registrar</li>
                   <li>Pro-Vice Chancellor/Dean</li>
              </ul>

            </h4>
            <h4><span style="font-size:18px;color:blue;size:50px;">&#10147;</span>
                &nbsp &nbsp In case of grievances not resolved at the institute level shall be reffered to vice chancellor</h4>

            <h4><span style="font-size:18px;color:blue;size:50px;">&#10147;</span>
                &nbsp &nbsp Any student aggrieved by the decision at the department level or institute level may within in a period of six days prefer an appeal to the vice chancellor</h4>

            <h4><span style="font-size:18px;color:blue;size:50px;">&#10147;</span>
                &nbsp &nbsp In case of any false or frivolous complaint, the vice chancellor may recommend appropriate action against the complaint</h4>

            <h4><span style="font-size:18px;color:blue;size:50px;">&#10147;</span>&nbsp &nbsp Only DBATU college students can lodge the grievance</h4>



        </div>

    </div>
</div>

