body {

            background-size: cover;

            }
            .form {
                background: rgba(9
                , 165, 166, 0.8);
                padding: 40px;
                max-width: 600px;
                margin: 40px auto;
                border-radius: 4px;

                box-shadow: 0 4px 10px 4px rgba(21, 35, 47, 0.1);
            }

           .tab {
                overflow: hidden;
                border: 1px solid #ccc;
                background-color: deepskyblue;
               color:red;
            }
           .padd{
               padding: 10px;
               margin-top: 20px;
           }

            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
                font-size: 17px;
                width: 50%;
            }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: plum;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }
            .tabcontent {
    
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
label {
  color: black;
  font-weight: bold;
  font-size: 17px;
  padding: 4px;
  text-transform: uppercase;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: xx-small;
}